body{
    background-color: lightblue;
}


#container{

    font-family:fantasy;
    font-size:2em;
    font-weight: bold;
    margin:10px;
    text-align: center;
    

}

#enterPassword{
    width: 150px;
    height:15px;

}

#buttonDIV{
    text-align: center;
    margin-top: 250px;
   
    
    

}

#myButton{
    background-color:peru;
    border-radius: 20px;
    border:none;
    padding:10px;
    text-align: center;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}

#myButton:hover{
    background-color: rgb(235, 128, 28);
}

#myButton:active{
     background-color: rgb(189, 106, 12);
}


#NewPassword{
    text-align: center;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:3em;
}